@page "/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<div class="login-card">
    <RemoteAuthenticatorView Action="@Action">
        </RemoteAuthenticatorView>
</div>

@code{
    [Parameter] public string? Action { get; set; }
}
