@page "/"

<PageTitle>Index</PageTitle>

<div class="banner"></div>
<div class="banner-content">
      <h1>It's time to finally <br>learn piano.</h1>
      <p>Lessoner is a new way to learn and teach piano, by following the old ways</p>
      <a href="/Account/Registration" class="btn btn-primary" title="New to building websites, or just want a more in-depth introduction to Ember? The tutorial is for you!">Try for Free Today</a>
</div>
<div class="summary">
    <div class="description">
        Lessoner is a new approach to learning and teaching piano, utiliazing tools
        to play back, analyze and record audio and midi data for future practice. Whereas other 
        piano learning websites focus on self teaching, we embrace the one-on-one experience of learning
        an instrument, while providing tools for both students and teachers alike.
    </div>
</div>
